/* Обнуление стилей */
body{
	height: 100%;
	line-height: 1;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
