body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

.header{
	display: flex;
	align-items: center;
	min-height: 80px;
	align-items: center;
}

.header__menu {
	display: flex;
	justify-content: space-between;
}
.menu__link {
}

.header__bottons {
	display: flex;
	gap: 30px;
	align-items: center;
}
.appointment__button {
	width: 180px;
	height: 39px;
	border-radius: 10px;
	background-color: #3c9d63;
	color:#ffffff;
	line-height: 117%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.appointment__button__link {

}
.account__button {
	width: 160px;
	height: 39px;
	border: 1px solid #3c9d63;
	border-radius: 10px;
	background-color: #ffffff;
	color:#3C9D63;
	line-height: 117%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.account__button__link{
}



.main {
	background-image: url("../img/main__back.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 151px;
	display: flex;
	flex: 1 1 auto;
}
.main__b{
	display: flex;
}
.main__logo {
	margin-bottom: 60px;
}
.main__desc {
	margin-bottom: 60px;
}
.col-8 {
}
.main__desc__text {
	font-weight: 700;
	font-size:  41px;
	line-height:  48px;
	color: #FFFFFF;
}
.main__buttons {
	margin-bottom: 233px;
}
.main__buttons__list{
	display: flex;
	gap: 20px;
}
.main__appointment {
	width: 329px;
	height: 65px;
	border-radius: 10px;
	background-color: #ffffff;
	color:#3C9D63;
	font-weight: 700;
	font-size: 25px;
	line-height:  29px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main__appointment__link {
}
.main__learn {
	width: 300px;
	height: 65px;
	border: 4px solid #ffffff;
	border-radius: 10px;
	color:#ffffff;
	font-weight: 700;
	font-size: 25px;
	line-height:  29px;
	display: flex;
	align-items: center;
	justify-content: center;
}